html {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #12162c;
  margin: 0;
  height: 100vh;
  width: auto;
}

.calculator {
  width: 500px;
  background-color: black;
}

.display {
  background-color: #03030377;
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  height: 20%;
  text-align: right;
  border: white solid 1px;
}

.display-text {
  font-size: 35pt;
  padding: 0 25px;
}

.keyboard {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  flex: auto;
  font-size: 30pt;
  border: white solid 1px;
}

.key:hover {
  background-color: #0fdbff98;
  color: black;
  transition-duration: 0.5s;
}

#clear {
  flex: 120px;
}

#back {
  flex: 370px;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.4;
}